<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.tutoserevices">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/minis"
        android:label="@string/tutoservices"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Acceuil" />
        <activity android:name=".listRec" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".inscription"
            android:label="@string/tutoservices"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity android:name=".MainActivityList" />
        <activity
            android:name=".AndroidListViewActivity"
            android:label="Android List View" />
        <activity
            android:name=".SingleListItem"
            android:label="Single Item Selected" />
        <activity android:name=".AjouterReclamation" />
        <activity android:name=".MainImage" />
        <activity android:name=".DetailleRec" />
        <activity android:name=".ListeElementActivity" />
        <activity android:name=".EmailVerify" />
        <activity android:name=".Notification" />
        <activity android:name=".Entrer"></activity>
    </application>

</manifest>